{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">

{{template "head" .}}

<body>

	<nav class="navbar navbar-default navbar-top navbar-fixed-top">
        <ul class="list-inline text-center">
            <li class="toggle-menu first" data-uw-action="sidebar-open" data-uw-target="sidebar-wrapper">
                <a><i class="fa fa-bars"></i></a>
            </li>
            <li class="logo second">
                <a>Operator</a>
            </li>
            <li class="third">
                <a><i class="fa fa-ellipsis-v"></i></a>
            </li>
        </ul>
    </nav>

	<nav id="sidebar-wrapper" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="sidebar-header">
		    <i class="fa fa-chevron-circle-left" data-uw-action="sidebar-close" data-uw-target="sidebar-wrapper"></i>
		</div>

		<ul class="sidebar-nav nav">
		    <li class="pending">
		        <a href="/pending"><i class="fa fa-circle"></i>Pending</a>
		    </li>
		    <li class="in-progress">
		        <a href="/in-progress"><i class="fa fa-circle"></i>In Progress</a>
		    </li>
		    <li class="complete">
		        <a href="/complete"><i class="fa fa-circle"></i>Complete</a>
		    </li>
		    <li class="archives">
		        <a href="/archives"><i class="fa fa-archive"></i>Archives</a>
		    </li>
		    <li class="trash">
		        <a href="/trash"><i class="fa fa-trash-o"></i>Trash</a>
		    </li>
		    <li class="sign-out">
		        <a href="/sign-out"><i class="fa fa-sign-out"></i>Sign Out</a>
		    </li>
		</ul>

		<div class="sidebar-footer text-center">
		    <div class="logo">Operator</div>
		    <div class="copyright">&copy; Operator 2016</div>
		</div>
	</nav>

	<div id="page-content-wrapper">
		<div id="main-container">
            <section>
                <div class="container">
                    <h1 class="title">Pending</h1>
                    <table id="data-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    	<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tbody></tbody>
                    </table>
                </div>
            </section>
        </div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title category" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-3 control-label">Date</label>
							<div class="col-sm-9 date"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Time</label>
							<div class="col-sm-9 time"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Address</label>
							<div class="col-sm-9">
								<div class="street"></div>
								<div class="city province"></div>
								<div class="postal-code"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Details</label>
							<div class="col-sm-9 details"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Description</label>
							<div class="col-sm-9 description"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Image</label>
							<div class="col-sm-9 image">
								<img>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Response</label>
							<div class="col-sm-9 response"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Notes</label>
							<div class="col-sm-9 notes"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Level</label>
							<div class="col-sm-9 level">
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 1
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 2
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"> 3
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4"> 4
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5"> 5
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 control-label">Status</label>
							<div class="col-sm-9 status">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="1"> Pending
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios2" value="2"> In Progress
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios3" value="3"> Complete
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios4" value="4"> Archives
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios5" value="5"> Trash
									</label>
								</div>
							</div>
						</div>
						<div id="map"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{{template "script" .}}

	<script type="text/javascript">
		$(document).ready(function() {
			page('/pending', viewEmergencies);
			page('/in-progress', viewEmergencies);
			page('/complete', viewEmergencies);
			page('/archives', viewEmergencies);
			page('/trash', viewEmergencies);
			page('/sign-out', signOut);
			page('*', notFound);
			page();
		});

		var globalEmergencies = '';
		var globalEmergency = '';

		function viewEmergencies(ctx) {
			var title = '';

			switch (ctx.pathname) {
				case '/pending':
					globalEmergencies = 1;
					title = 'Pending';
					break;
				case '/in-progress':
					globalEmergencies = 2;
					title = 'In Progress';
					break;
				case '/complete':
					globalEmergencies = 3;
					title = 'Complete';
					break;
				case '/archives':
					globalEmergencies = 4;
					title = 'Archives';
					break;
				case '/trash':
					globalEmergencies = 5;
					title = 'Trash';
					break;
				default:
					console.log('View emergencies: no case matched.');
			}

			$('.title').text(title);
			loadEmergenciesAjax();
		}

		function loadEmergenciesAjax() {
			$.ajax({
                type: 'GET',
                url: '/loadEmergenciesJSON/' + globalEmergencies,
                dataType: 'json',
                cache: false
            }).done(function(json, textStatus, jqXHr) {
                initDataTable(json);
            }).fail(function(jqXHr, textStatus, errorThrown) {
                handleAjaxError(jqXHr, textStatus);
            }).always(function() {});
		}

		function signOut() {
			$.ajax({
	            type: 'GET',
	            url: '/logoutJSON',
	            dataType: 'json',
	            cache: false
	        }).done(function(json, textStatus, jqXHr) {
	            window.location.pathname = '/sign-in';
	        }).fail(function(jqXHr, textStatus, errorThrown) {
	            handleAjaxError(jqXHr, textStatus);
	        }).always(function() {});
		}

	</script>

</body>

</html>

{{end}}