{{define "head"}}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Operator</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link href="/pkg/dataTables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">

	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
</head>

{{end}}

{{define "script"}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type="text/javascript"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY9O3A_1rSL2xhAoVx3mKHsh5ACBh8-zo&callback=initMap" type="text/javascript" async defer></script>

<script src="/pkg/dataTables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/pkg/dataTables/dataTables.bootstrap.min.js" type="text/javascript"></script>

<script src="/pkg/dataTables/moment.min.js" type="text/javascript"></script>
<script src="/pkg/dataTables/datetime-moment.js" type="text/javascript"></script>

<script src="/js/page.js" type="text/javascript"></script>
<script src="/js/global.js" type="text/javascript"></script>

<script src="/js/table.js" type="text/javascript"></script>
<script src="/js/modal.js" type="text/javascript"></script>

<script type="text/javascript">
	var globalViewer = {{.Viewer}};
	console.log(globalViewer);
</script>

{{end}}